{% extends "base.html" %} {% load static %} {% block title %}Mon Etab -
Professeur{% endblock title %} {% block script %}
<script src="{% static 'js/teacher.js' %}" defer></script>
{% endblock script %} {% block content %}

<div class="flex-1 p-6">
  <div class="flex items-center justify-between mb-6">
    <h1 class="text-2xl font-semibold">Professeurs (2)</h1>
    <a
      href="{% url 'teacher:add' %}"
      class="flex items-center text-blue-500 hover:text-blue-700"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        class="w-5 h-5 mr-2"
        fill="none"
        viewBox="0 0 24 24"
        stroke="currentColor"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M12 4v16m8-8H4"
        />
      </svg>
      Nouveau professeur
    </a>
  </div>
  <div class="p-6 overflow-auto bg-white rounded-lg shadow">
    <table class="min-w-full divide-y divide-gray-200">
      <thead class="bg-gray-50">
        <tr>
          <th
            class="px-6 py-3 text-xs font-medium tracking-wider text-left text-gray-500 uppercase"
          >
            Nom
          </th>
          <th
            class="px-6 py-3 text-xs font-medium tracking-wider text-left text-gray-500 uppercase"
          >
            Prénom
          </th>
          <th
            class="px-6 py-3 text-xs font-medium tracking-wider text-left text-gray-500 uppercase"
          >
            Date de naissance
          </th>
          <th
            class="px-6 py-3 text-xs font-medium tracking-wider text-left text-gray-500 uppercase"
          >
            Matière
          </th>
          <th
            class="px-6 py-3 text-xs font-medium tracking-wider text-left text-gray-500 uppercase"
          >
            Vacant
          </th>

          <th
            class="px-6 py-3 text-xs font-medium tracking-wider text-left text-gray-500 uppercase"
          >
            Prochaine reunion
          </th>

          <th
            class="px-6 py-3 text-xs font-medium tracking-wider text-left text-gray-500 uppercase"
          >
            Téléphone
          </th>
          <th
            class="px-6 py-3 text-xs font-medium tracking-wider text-left text-gray-500 uppercase"
          >
            Ville/Pays
          </th>
          <th
            class="px-6 py-3 text-xs font-medium tracking-wider text-left text-gray-500 uppercase"
          >
            Actions
          </th>
        </tr>
      </thead>
      <tbody class="bg-white divide-y divide-gray-200">
        {% for teacher in teachers %}
        <tr>
          <td class="px-6 py-4 whitespace-nowrap">{{ teacher.name }}</td>
          <td class="px-6 py-4 whitespace-nowrap">{{ teacher.last_name }}</td>
          <td class="px-6 py-4 whitespace-nowrap">{{ teacher.birth_date }}</td>
          <td class="px-6 py-4 whitespace-nowrap">{{ teacher.courses }}</td>
          <td class="px-6 py-4 whitespace-nowrap">
            {{ teacher.disponibility }}
          </td>
          <td class="px-6 py-4 whitespace-nowrap">{{ teacher.next_meet }}</td>

          <td class="px-6 py-4 whitespace-nowrap">{{ teacher.number }}</td>
          <td class="px-6 py-4 whitespace-nowrap">{{ teacher.country }}</td>
          <td class="px-6 py-4 whitespace-nowrap">
            <a
              href=" {% url 'teacher:edit' teacher.id %}"
              class="px-4 py-1 font-bold text-white bg-yellow-500 rounded hover:bg-yellow-600"
            >
              Modifier
            </a>

            <a
              class="px-4 py-1 ml-2 font-bold text-white bg-red-500 rounded hover:bg-red-600"
              href="#popup{{ teacher.id }}"
            >
              Supprimer
            </a>
          </td>
        </tr>
        <!-- Modal -->
        <div id="popup{{ teacher.id }}" class="overlay">
          <div class="popup">
            <h3 class="text-lg font-medium leading-6 text-gray-900">
              Confirmer la suppression
            </h3>
            <div class="py-3 mt-2 px-7">
              <p class="text-sm text-gray-500">
                Êtes-vous sûr de vouloir supprimer cet élément ? Cette action
                est irréversible.
              </p>
            </div>
            <a class="close" href="#">&times;</a>
            <div class="content">
              <div class="items-center px-4 py-3">
                <a
                  href="{% url 'teacher:delete' teacher.id %}"
                  class="px-4 py-2 font-bold text-white bg-red-500 rounded hover:bg-red-600"
                  onclick="deleteItem()"
                >
                  Supprimer
                </a>
                {% comment %}
                <button
                  id="confirmDelete"
                  class="px-4 py-2 font-bold text-white bg-red-500 rounded hover:bg-red-600"
                ></button>
                {% endcomment %}
                <button
                  id="cancelDelete"
                  class="px-4 py-2 ml-2 font-bold text-gray-800 bg-gray-300 rounded hover:bg-gray-400"
                  onclick="closeModal()"
                >
                  Annuler
                </button>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>

{% endblock content %}
