{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% block title %}Ajouter un Utilisateur{% endblock title %}
{% block content %}
<!-- Main Content -->
<div class="flex items-center justify-center flex-1 p-6">
   <div class="w-full max-w-md p-8 bg-white rounded-lg shadow-lg">
      <h1 class="mb-6 text-2xl font-semibold text-center">
         Ajouter un utilisateur
      </h1>
      <form action="#" method="POST" class="grid grid-cols-1 gap-6">
         {% csrf_token %}
         <!-- Champ  -->
        {{ form | crispy }}
         <!-- Boutons -->
         <div class="flex justify-center space-x-4">
            <button
               type="reset"
               class="px-4 py-2 font-bold text-white bg-red-500 rounded hover:bg-red-600"
            >
               Annuler
            </button>
            <button
               type="submit"
               class="px-4 py-2 font-bold text-white bg-green-500 rounded hover:bg-green-600"
            >
               Enregistrer
            </button>
         </div>
      </form>
   </div>
</div>
{% endblock content %}
